*{
  margin: 0;
  padding: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif 
}


.carousel-slider,.slider-wrapper,.slider{

  height: 100%;
}



.carousel-root{
  height: 100%;
}
.carousel-slider{
  height: 100%;
}
