.container{
  height: 78vh;
}

.wraper{
  height: 70vh;
  background-image: url("https://a0.muscache.com/pictures/cf9f7fb3-2f0a-4730-a08a-e079161b9be3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.logo{
  padding: 20px;
}

.heading{
  color: white;
  margin-top: 20px;
  width: 87%;
  margin-left: auto;
 
}

.heading h4{
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
}

.heading h1{
  
  max-width: 508px;
  font-size: 4rem;
  margin-top: 20px;
  line-height: 60px;
}
.heading p{
  
  max-width: 481px;
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 30px;
}

.heading button{
  
  width: 150px;
  
  height: 3rem;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(224,23,96);
  color: white;
  border: none;
}


/* section 2 */

.nextChapter{
  height:50vh;
}

.section2_main{
  display: flex;
  margin: auto;
  width: 75%;
  max-height: 40vh;
  justify-content: center; 
}

.componentDiv{
  display: flex;
  width: 100%;
  flex: 1;

}

.div1{

  justify-content: center;

  width: 90%;
  padding: 20px;
  flex: 0.6;
 
}
.div1 h1{
  font-size: 3.5rem;
}




.div2{
  justify-content: center;
  width: 20%;
  padding: 30px;
  flex: 1;
}
.div2 h5{
  font-size: 24px;
  margin-top: 10px;
}
.div2 p{
  font-size: 16px;
  margin-top: 20px;
  line-height: 22px;
}

.div3{
  justify-content: center;
  width: 20%;
  padding: 30px;
  flex: 1;
}

.div3 h5{
  font-size: 24px;
  margin-top: 10px;
}

.div3 p{
  font-size: 16px;
  margin-top: 20px;
  line-height: 22px;
}


@media screen and (max-width:1360px){
  .div1 h1{
    font-size: 2.5rem;
  }
  .div2 h5{
    font-size: 18px;
  }

  .div3 h5{
    font-size: 18px;
  }
  
  
}

@media screen and (max-width:900px){
  .section2_main{
    flex-direction: column;
    
  }

  .div1{
    width: 60%;
    margin-top: 40px;
  }

  .heading{
    margin-left: 40px;
  }
}